# app/views/books/index.html.erb

<h1>Liste des livres</h1>

<% @books.each do |book| %>

  <p>
    <a href="/books/<%= book.id %>">
      <% if book.category %>
        <%=book.id%>. <%= book.title %> (<%= book.category.name %>)
      <% else %>
        <%=book.id%>. <%= book.title %>
      <% end %>
    </a>
  </p>

<% end %>

<%= form_tag "/books", method: "post" do %>
  Titre :<input type="text" name="title" /><br/>
  Catégorie :<select name="category_id" >
    <% @categories.each do |category| %>
      <option value="<%= category.id %>"><%= category.name %></option>
    <% end %>
  </select><br/>
  <input type="submit" value="Ajouter le livre" />
<% end %>
